<div id="battlecard-hud-chip" class="battlecard-hud-chip" role="status">
  <img class="bc-chip-img" src="{{target.img}}" alt="{{target.name}}"/>
  <span class="bc-chip-label">
    <span class="bc-chip-kicker">{{localize "BATTLECARD.Chip.Targeting"}}</span>
    <span class="bc-chip-name">{{target.name}}{{#if extra}} <span class="bc-chip-extra">+{{extra}}</span>{{/if}}</span>
  </span>
  <button type="button" data-action="clear" data-tooltip="{{localize "BATTLECARD.Chip.Clear"}}">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
